html {
  font-size: 62.5%;
}

body {
  font-family: 'Enriqueta', Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to right, rgb(34, 9, 44), rgb(135, 35, 107));
}

aside {
  font-size: 14px;
  color: rgb(252, 245, 237);
}

.masthead {
  font-size: 8rem;
  color: rgb(252, 245, 237);
}

.subheading {
  font-size: 2.5rem;
  color: rgb(252, 245, 237);
}

.hero-box {
  align-items: center;
  /* border: 1px solid #ccc; */
  width: 100%;
  /* background-color: rgb(17, 57, 70); */
  padding: 0 20px;
  color: rgb(246, 247, 234);
}

aside {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 100;
}
