html {
  font-size: 62.5%;
}

body {
  font-family: 'Enriqueta', Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to right, rgb(14, 9, 44), rgb(35, 113, 135));
}

h1 {
  font-size: 4rem;
  color: rgb(252, 245, 237);
}

.subheading {
  font-size: 1.5rem;
  color: rgb(252, 245, 237);
  font-style: italic;
  font-weight: 100;
}

.carousel {
  margin-bottom: 2rem;
}

.hero-box {
  align-items: center;
  /* border: 1px solid #ccc; */
  width: 100%;
  /* background-color: rgb(17, 57, 70); */
  padding: 0 2em;
  color: rgb(246, 247, 234);
}

aside {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 100;
}

aside p {
  font-size: 1.6rem;
  color: rgb(252, 245, 237);
  text-align: justify;
}

.about-text {
  font-size: 2rem;
  color: rgb(252, 245, 237);
  width: 60%;
}

footer {
  background-color: rgb(14, 9, 44, 0.4);
  color: rgb(252, 245, 237);
  padding: 2rem;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 10rem;
}