html {
  font-size: 62.5%;
}

body {
  font-family: 'Enriqueta', Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to right, rgb(6, 3, 20), rgb(24, 47, 56), rgb(43, 40, 21));
}

h1 {
  font-size: 4rem;
  color: rgb(252, 245, 237);
}

.subheading {
  font-size: 1.5rem;
  color: rgb(252, 245, 237);
  font-style: italic;
  font-weight: 100;
}

.carousel {
  margin-bottom: 2rem;
}

.hero-box {
  align-items: center;
  padding: 0 2em;
  color: rgb(246, 247, 234);
}

aside {
  padding: 2rem;
}

aside p {
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  color: rgb(225, 223, 213);
}

footer {
  background-color: rgb(14, 9, 44, 0.4);
  color: rgb(252, 245, 237);
  padding: 2rem;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 10rem;
}